.wrapper {
  display: grid;
  gap: 48px;
}
@media (min-width: 48rem) {
  .wrapper {
    gap: 64px;
    grid-template-columns: minmax(0px, auto);
  }
}
@media (min-width: 64rem) {
  .wrapper {
    gap: 64px;
    grid-template-columns: repeat(2, minmax(0px, auto));
  }
}
@media (min-width: 64rem) {
  .marketsSection {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--color-gray-300);
  }
}
.marketCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 16px;
}

.sportsStory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 16px;
}

@media (min-width: 48rem) {
  .sportsStory {
    display: flex;
    grid-template-columns: revert;
    overflow: auto;
  }
}

@media (min-width: 48rem) {
  .sportsStoryWrapper {
    min-width: 220px;
  }
}
