.wrapper {
  display: grid;
  gap: 3rem;
}
@media (min-width: 48rem) {
  .wrapper {
    gap: 4rem;
    grid-template-columns: minmax(0px, auto);
  }
}
@media (min-width: 64rem) {
  .wrapper {
    gap: 4rem;
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 64rem) {
  .marketsSection {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--color-gray-300);
  }
  .sportsSection {
    min-width: 0;
  }
}

.marketCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  gap: 1rem;
}

.sportsStory {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

@media (min-width: 48rem) {
  .sportsStory {
    display: flex;
    grid-template-columns: revert;
    overflow: auto;
  }
}

@media (min-width: 48rem) {
  .sportsStoryWrapper {
    min-width: 14rem;
  }
}
