html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* TOKENS DE DISEÑO */
html {
  --color-white: hsl(0deg 0% 100%);
  --color-offblack: hsl(24deg 5% 6%);
  --color-gray-100: hsl(40deg 12% 95%);
  --color-gray-300: hsl(35deg 8% 80%);
  --color-gray-500: hsl(30deg 4% 60%);
  --color-gray-700: hsl(28deg 5% 40%);
  --color-gray-900: hsl(24deg 6% 16%);
  --color-primary: hsl(224deg 30% 40%);
  --color-secondary: hsl(180deg 34% 37%);
  --color-urgent: hsl(0deg 55% 54%);

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-family-serif: "Times New Roman", serif;
  --font-family-sans-serif: "Arial", sans-serif;
  --font-family-logo: "Comic Sans MS", cursive;
}

/* Estilos globales */
*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root {
  /*
    Crear un contexto de apilamiento, sin un z-index.
    Esto asegura que todo el contenido del portal (modales y tooltips) 
    flote por encima de la aplicación.
  */

  isolation: isolate;
}

html {
  /*
    Silenciar la advertencia sobre estilos faltantes de Reach Dialog
  */
  --reach-dialog: 1;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-gray-100);
  font-family: "Crimson Pro", sans-serif;
}

/*
  Eliminar los estilos predeterminados del botón. Proporcionaremos los nuestros a nivel de componente
*/
button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 48rem) {
  /* Estilos para tablet y superiores */
}

@media (min-width: 64rem) {
  /* Estilos para laptop y superiores */
}

@media (min-width: 90rem) {
  /* Estilos para desktop y superiores */
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  /* Estilos solo para tablet */
}

:root {
  --breakpoint-tablet-min: 550px;
  --breakpoint-laptop-min: 1100px;
  --breakpoint-desktop-min: 1500px;

  --font-family-serif: "Crimson Pro", Georgia, serif;
  --font-family-sans-serif: "Helvetica Neue", Helvetica,
    "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic",
    sans-serif;
  --font-family-logo: "Chomsky";
}

img {
  width: 100%;
  height: auto;
}
