.wrapper {
  color: var(--color-gray-900);
}

.imgAvatar {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
  margin-left: 16px;
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .imgAvatar {
    float: revert;
    margin-left: revert;
  }
}

.p {
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-700);
  margin-bottom: 4px;
}

.h3 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
}
