.wrapper {
  text-align: center;
}

.a {
  font-family: var(--font-family-logo);
  font-size: 3rem;
}

.todaysDate {
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  margin-top: -1rem;
}

@media (min-width: 48rem) {
  .a {
    font-size: 4rem;
  }
}
