.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    "image heading"
    "image abstract";
  gap: 4px 16px;
  grid-template-columns: 120px 1fr;
  color: var(--color-gray-900);
}

.img {
  grid-area: image;
  width: 100%;
  height: auto;
}
