.wrapper {
  display: grid;
  grid-template-areas:
    "main-story"
    "secondary-stories"
    "opinion-stories"
    "advertisement";
  gap: 3rem;
  margin-bottom: 3rem;
}

.mainStorySection {
  grid-area: main-story;
}

.secondaryStoriesSection {
  grid-area: secondary-stories;
}

.storyList {
  display: flex;
  flex-direction: column;
}

.verticalStoryWrapper {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.opinionStorySection {
  grid-area: opinion-stories;
}
