.wrapper {
  display: grid;
  grid-template-areas:
    "main-story"
    "secondary-stories"
    "opinion-stories"
    "advertisement";
  gap: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .wrapper {
    grid-template-areas:
      "main-story secondary-stories"
      "advertisement advertisement"
      "opinion-stories opinion-stories";
    grid-template-columns: 2fr 1fr;
    gap: 48px 0px;
  }
}

@media (min-width: 64rem) {
  .wrapper {
    grid-template-areas:
      "main-story secondary-stories opinion-stories"
      "main-story advertisement advertisement";
    grid-template-columns: 5fr 4fr 3fr;
    gap: 0px;
  }
}

.mainStorySection {
  grid-area: main-story;
}

.secondaryStoriesSection {
  grid-area: secondary-stories;
}

.storyList {
  display: flex;
  flex-direction: column;
}

.verticalStoryWrapper {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

.opinionStorySection {
  grid-area: opinion-stories;
}

.advertisementSection {
  grid-area: advertisement;
}

@media (min-width: 64rem) {
  .advertisementSection {
    padding-right: 16px;
    margin-right: 16px;
    border-right: 1px solid var(--color-gray-300);
  }
}
