.wrapper {
  display: grid;
  grid-template-areas:
    "main-story"
    "secondary-stories"
    "opinion-stories"
    "advertisement";
  gap: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 48rem) {
  .wrapper {
    grid-template-areas:
      "main-story secondary-stories"
      "advertisement advertisement"
      "opinion-stories opinion-stories";
    grid-template-columns: 2fr 1fr;
    gap: 3rem 0;
  }
}

@media (min-width: 64rem) {
  .wrapper {
    grid-template-areas:
      "main-story secondary-stories opinion-stories"
      "main-story advertisement advertisement";
    grid-template-columns: 5fr 4fr 3fr;
    gap: 0px;
  }
}

.mainStorySection {
  grid-area: main-story;
}

@media (min-width: 48rem) {
  .mainStorySection {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--color-gray-300);
  }
}

.secondaryStoriesSection {
  grid-area: secondary-stories;
}

@media (min-width: 48rem) {
  .secondaryStoriesSection {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--color-gray-300);
  }
}

.storyList {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) and (max-width: 63.9375rem) {
  .opinionStoryList {
    flex-direction: row;
    gap: 2rem;
  }
}

.verticalStoryWrapper {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}

@media ((min-width: 48rem) and (max-width: 63.9375rem)) {
  .opinionStoryWrapper {
    flex: 1;
    &:not(:last-of-type) {
      border-bottom: revert;
      padding-bottom: revert;
      margin-bottom: revert;
    }
  }
}
.opinionStorySection {
  grid-area: opinion-stories;
}

@media (min-width: 64rem) {
  .opinionStorySection {
    margin-top: -8px;
  }
}

.advertisementSection {
  grid-area: advertisement;
}

@media (min-width: 64rem) {
  .advertisementSection {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--color-gray-300);
  }
}
